/*Минимальный сброс стилей для всех элементов*!*/
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0!important;
    outline-color: transparent!important;
    outline-style: none!important;
    box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
}

a {
    /*color: #1f1f24;*/
}

a:hover {
    color: #fc557c !important;
    text-decoration: underline !important;
}

img {
    width: auto;
    height: 100%;
}

header {
    background-color: #FBFBFB;
    padding-top: 20px;
}

main {
    overflow: hidden;
    min-height: 680px;
    position: relative;
}

.btn {
    border-radius: 0;
}

.btn-outline-success {
    color: #f53f4f;
    border-color: #f82370;
}

.btn-outline-success:hover {
    background-color: #f53f4f;
    border-color: #f53f4f;
}

#navbarSupportedContent button {
    height: 45px;
    width: 210px;
}
#navbarSupportedContent span {
    font-size: 25px;
    color: #1f1f24;
}

.container_header {
    min-height: 90px;
}

.container_header .nav-link {
    margin-right: 15px;
}

.container_title {
    background-color: #FBFBFB;
    padding-top: 30px;
}

.nav-item a {
    color: #1f1f24;
}

.navbar__tel {
    font-size: 25px;
}

.navbar__tel a {
    color: #000;
    font-size: 25px;
}

.navbar__btn {
    min-width: 205px;
    min-height: 45px;
}

.btn__more-info {
    font-size: 18px;
    color: #fff;
    background-color: #ff4e2e;
    border-color: #ff4e2e;
    width: 270px;
    height: 60px;
    margin: 40px 0;
}

.btn__more-info:hover {
    color: #fff;
    background-color: #ed2617;
    border-color: #ed2617;
}

.main_title {
    margin-left: 65px;
}

.headline-name__text {
    font-size: 80px;
    padding-top: 137px;
    letter-spacing: 0.8px;
}

.about-main__text {
    font-size: 24px;
    color: #8993ad;
    margin-top: -3px;
    letter-spacing: 0.23px;
}

.text__about {
    font-size: 20px;
    color: #8993ad;
    margin-top: 33px;
}

.photo__man {
    width: 445px;
    height: 638px;
    background-size: contain;
    filter: drop-shadow(25px 15px 25px rgba(0,0,0,.2));
    margin-top: -10px;
    margin-left: 32px;
}

.mob__menu {
    background: url("../icon/mob-icon-menu.png") no-repeat;
    width: 26px;
    height: 26px;
}

.mob__call {
    background: url("../icon/mob-icon-tel.png") no-repeat;
    width: 26px;
    height: 26px;
}

.svg__bg {
    position: absolute;
    left: 57.5%;
}

.svg__bg-txt {
    position: absolute;
    left: 6.6%;
}

.pic_tools {
    background: url('../icon/tools.png') no-repeat;
    width: 80px;
    height: 74px;
    background-size: contain;
}

.pic_response {
    background: url('../icon/responsive.png') no-repeat;
    width: 80px;
    height: 74px;
    margin-left: 40px;
    background-size: contain;
}

.pic_programming {
    background: url('../icon/programming.png') no-repeat;
    width: 80px;
    height: 74px;
    margin-left: 44px;
    background-size: contain;
}

.pic_coding {
    background: url('../icon/coding.png') no-repeat;
    width: 80px;
    height: 74px;
    margin-left: 25px;
    background-size: contain;
}

.my-job__title_text {
    font-size: 54px;
    padding: 80px 0;
}

.my-job .btn__more-info {
    margin-top: 77px;
}

.my-job {
    min-height: 650px;
}

.text__about_my-job {
    margin-top: 15px;
}

.text__about_my-job a {
    font-size: 20px;
    color: #8993ad;
}

.container__my-job_example {
    min-height: 855px;
    background-color: #FBFBFB;
}

.my-job_example {
    padding: 0;
}

.my-job_example .btn__more-info {
    margin-top: 91px;
}

.my-job_example__title-text {
    font-size: 54px;
    padding: 76px 0 92px;
}

.slider__pic1 {
    background-image: url('../img/img1.jpg');
    width: 100%;
    min-height: 290px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider__pic2 {
    background-image: url('../img/img2.jpg');
    width: 100%;
    min-height: 290px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.slider__pic2_1 {
    background-image: url('../img/img2.jpg');
    width: 280px;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.slider__pic3 {
    background-image: url('../img/img3.jpg');
    width: 100%;
    min-height: 290px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider > .col:first-child {
    padding-left: 0;
}

.slider > .col:last-child {
    padding-right: 0;
}

.slider__arrow_left {
    background-image: url("../icon/arrow.png");
    width: 61px;
    height: 60px;
    position: absolute;
    margin-top: 120px;
    margin-left: -31px;
    box-shadow: 3px 3px 15px rgba(0,0,0,0.1);
    border-radius: 50% 50%;
    cursor: pointer;
}

.slider__arrow_right {
    position: absolute;
    margin-top: 105px;
    margin-left: 325px;
    cursor: pointer;
}

.beating {
    color: #fff;
    background-image: linear-gradient(12deg, #ff8f5a 35%, #ff2f96 80%);
    width: 100%;
    min-height: 365px;
}

.beating__text-title {
    max-width: 935px;
    font-size: 45px;
    margin-top: 75px;
    letter-spacing: -0.2px;
    line-height: 60px;
}

.beating__text__small {
    font-size: 18px;
    letter-spacing: -0.05px;
    margin-top: 30px;
    line-height: 30px;
}

.svg__beating {
    position: absolute;
    margin-top: 64px;
    margin-left: 128px;
}

.footer__block {
    min-height: 260px;
}

.footer__menu {
    font-size: 18px;
    color: #8993ad;
}

.footer__menu a {
    margin-bottom: 8px;
    color: #8993ad;
}

.footer__menu a:last-child {
    margin-bottom: 12px;
}

.footer__contacts {
    font-size: 25px;
    min-height: 105px;
}

.footer__contacts a {
    color: #000;
}

.fa-gradient {
    background: linear-gradient(to bottom, #fa0a8f, #f35831);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer__contacts {
    padding-left: 90px;
}

.footer__contacts a {
    padding-left: 16px;
}

.footer__phone .fa-phone {
    font-size: 20px;
}

.footer__phone {
    font-size: 25px;
}

.footer__mail .fa-envelope {
    font-size: 21px;
}

.footer__mail {
    padding-bottom: 8px;
}

.footer__callback {
    min-height: 105px;
    padding-right: 20px !important;
}

.footer__callback .btn {
    min-width: 250px;
    height: 45px;
    margin-top: 5px;
}
.social_icon {
    cursor: pointer;
    margin-top: 30px;
    /*margin-left: 3px;*/
    display: inline-block;
    background-image: url("../icon/social-network-logo.png");
    background-repeat: no-repeat;
}

.social_icon-vk {
    width: 42px;
    height: 29px;
    background-position: 0 0;
}

.social_icon-vk:hover {
    width: 42px;
    height: 29px;
    background-position: 0 -31px;
}

.social_icon-facebook {
    width: 48px;
    height: 29px;
    margin-left: 3px;
    background-position: -50px 0;
}

.social_icon-facebook:hover {
    width: 48px;
    height: 29px;
    margin-left: 3px;
    background-position: -50px -31px;
}

.social_icon-twitter {
    width: 40px;
    height: 29px;
    margin-left: 7px;
    background-position: -110px 0;
}
.social_icon-twitter:hover {
    width: 40px;
    height: 29px;
    margin-left: 7px;
    background-position: -110px -31px;
}

.social_icon-insta {
    width: 40px;
    height: 29px;
    margin-left: 7px;
    background-position: -160px 0;
}

.social_icon-insta:hover {
    width: 40px;
    height: 29px;
    margin-left: 7px;
    background-position: -160px -31px;
}

.footer__copyright {
    min-height: 80px;
    background-color: #31293c;
    color: #fff;
}



@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
        padding: 0;
    }
}

@media (max-width: 1199px) {
    .text-lg-left {
        text-align: center!important;
    }

    .main_title {
        margin-left: 0;
        padding: 0;
    }
}

@media (max-width: 991px) {

    header {
        padding-top: 25px;
    }

    .mob__tel a {
        font-size: 18px;
        color: #1f1f24;
    }

    .container_title {
        padding-top: 0;
    }

    .container__my-job_example {
        min-height: auto;
    }

    .svg__mob__bg {
        position: absolute;
        width: 470px;
        /*width: 147%;*/
        top: 58px;
        margin-right: 90px;
        /*overflow: hidden;*/
    }

    .svg__mob__bg-text {
        position: absolute;
        height: 6%;
        left: 10.5%;
    }

    .photo__man {
        max-width: 230px;
        max-height: 330px;
        object-fit: cover;
        filter: drop-shadow(25px 0 30px rgba(0,0,0,0));
        margin: 22px 0 0 50px;
    }

    .headline-name__text, .my-job__title_text, .my-job_example__title-text {
        font-size: 30px;
    }

    .headline-name__text {
        min-width: 280px;
        padding: 10px 0 0 0;
        letter-spacing: -0.05px;
    }

    .btn__more-info {
        margin: 23px 0 0;
        min-width: 280px;
        font-size: 16px;
    }

    .pic_tools {
        margin: 0 0 0 17px;
        max-width: 100%;
        max-height: 56px;
    }

    .pic_response {
        margin: 0 0 0 16px;
        max-width: 100%;
        max-height: 57px;
    }

    .pic_programming {
        margin: 3px 0 0 15px;
        max-width: 100%;
        max-height: 58px;
    }

    .pic_coding {
        margin: 0 0 0 14px;
        max-width: 100%;
        max-height: 60px;
    }

    .my-job__title_text {
        padding: 37px 0 39px;
    }

    .about-main__text {
        font-size: 16px;
        margin-top: 2px;
        letter-spacing: -0.1px;
    }

    .text__about {
        font-size: 18px;
        margin-top: 14px;
    }

    .text__about_my-job {
        margin: 15px 0 49px;
    }

    .text__about_my-job a {
        font-size: 16px;
    }

    .my-job .row {
        margin-left: 0;
    }

    .my-job .btn__more-info {
        margin: 0 0 51px;
    }

    .my-job_example__title-text {
        padding: 44px 0 43px;
        line-height: 35px;
    }

    .slider__dots-items {
        background-image: url("../icon/dots-for-slider.png");
        background-repeat: no-repeat;
        width: 61px;
        height: 10px;
        background-position: center center;
        margin-top: 42px;
    }

    .my-job_example .text__about {
        margin: 14px 6px 0 -2px;
    }

    .my-job_example .btn__more-info {
        margin: 49px 0 51px 0;
    }

    .beating {
        min-height: 250px;
    }

    .beating__text-title {
        font-size: 28px;
        margin-top: 42px;
        margin-left: -5px;
        letter-spacing: -0.2px;
        line-height: 40px;
    }

    .beating__text__small {
        font-size: 15px;
    }

    sup  {
        font-size: 20px;
        top: -0.2em;
    }

    .footer__contacts {
        min-height: 75px;
    }

    .footer__menu {
        font-size: 15px;
    }

    .footer__contacts, .footer__mail {
        font-size: 20px;
    }

    .footer__contacts a, .footer__mail a {
        color: #8993ad;
    }

    .footer__contacts {
        padding: 0;
    }

    .footer__copyright {
        font-size: 12px;
    }
}

@media (max-width: 767px) {

    .container {
        padding: 0 20px;
    }

    footer .container {
        padding: 0 20px;
    }

    .my-job .mb-md-3 {
        margin: 0;
        justify-content: center;
    }

    .slider__pic2 {
        background-image: url('../img/img2.jpg');
        width: 370px;
        height: 290px;
    }

    .beating {
        padding: 0 20px;
    }

    .beating__text-title sup {
        top: -0.2em;
        font-size: inherit;
    }

    .beating__text__small {
        margin: 32px 0 41px -5px;
        letter-spacing: -0.2px;
        line-height: 30px;
    }

    .footer__menu {
        padding: 45px 0 28px 0;
    }

    .footer__menu a {
        margin-bottom: 11px;
    }

    .social_icon {
        margin: 50px 0 44px;
    }

    .social_icon-facebook {
        margin-left: 4px;
    }

    .social_icon-twitter {
        margin-left: 10px;
    }

    .social_icon-insta {
        margin-left: 4px;
    }

    .fa-phone, .fa-envelope {
        font-size: 14px !important;
    }

    .footer__phone, .footer__mail {
        padding: 0 0 18px 0;
        font-size: 19px;
    }

    .footer__mail a {
        letter-spacing: 0.4px;
    }

    .footer__callback .footer__callback_btn {
        min-height: 55px;
        min-width: 280px;
        margin-top: 2px;
    }

    .btn__more-info {
        max-height: 55px;
    }

    .footer__copyright {
        padding-bottom: 30px;
    }

}























